
* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

.btn {
    padding: 6px 12px;
    font-size: 12px;
    border: 1px solid #807e7e3b;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #343a40;
    color: white;
}
