
* {
    box-sizing: border-box;
  }

.btn {
    padding: 6px 12px;
    font-size: 12px;
    border: 1px solid #807e7e3b;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #807e7e3b;
    }
}
